.leaflet-control-contours .contours-panel{
  padding: 10px 10px 6px 6px;
  background: #fff;
  min-width: 250px; 
  max-width: 300px;
  border-radius: 20px;
  z-index: 99999;
  
  .close-button{
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAUklEQVQ4jWNgGAXYgC4DA4M5FnFzqBxBYM7AwPCKgYHBAUnMASqGzWCswIaBgeElAwODExqbJOAA1fgSzTUogIlUU4kFtgwUeIHiQKQ4GkcaAAC8Jw8GjeNLuQAAAABJRU5ErkJggg==);
    height: 25px;
    width: 25px;
    margin-right: 0;
    float: right;
    vertical-align: middle;
    text-align: right;
    margin-top: 0px;
    margin-left: 16px;
    position: relative;
    left: 2px;
    background-size: contain;

    &:hover{
      opacity: 0.7;
      cursor: pointer;
    }
  }

  .title{
    font-size: 120%;
    padding: 20px 15px 10px 35px;
    color: #4aa4a1;
  }

  label{
    padding-top: 5px;
  }

  select, input{
    height: auto;
    padding:4px;
    padding-left: 10px;
    padding-right: 30px;
    width: 150px;
    border-radius: 20px;
    background-color: rgba(226,226,226,0.6);
    appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsEAAA7BAbiRa+0AAAAGYktHRAD/AP8A/6C9p5MAAACySURBVDhPY6AUMHotXfgfyiYLMEFpsgHTtuj4TCibZADSC3LBbAiXLDALZMBfoEn2ED7xAKjHGkj9g4XBIShNCjgGIuCBCDRRBsokCIBqJaFMlFh4CpSogLJxAqiaFxAeZjROgNL4QD+UBgN0A34CbfCBsjEAUM4dSP2C8CAA3QAQ2AqlsYFdUBoOsBkAskkdyoQDoJgKlEk0aAPlE2heaYMIYQKsLoACZE04DaAQMDAAAJEDKXSHGnqOAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    background-size: 16px 16px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  input.custom-interval{
    width: 80px;
  }

  *{
    font-size: 12px;
  }

  .row.form-group.form-inline{
    margin-bottom: 8px;
    margin-left: 20px;   
  }

  .col-sm-3.control-label{
    padding-right: 50px;
  }

  .dropdown-menu{
    a{
      width: 100%;
      text-align: left;
      display: block;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .btn-preview{
    margin-right: 8px;
  }

  .action-buttons{
    margin-top: 12px;
    
    
    
  }
  
  .btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    
      
}


.btn.btn-sm.btn-primary.btn-preview{
  background-image: url(circle.svg);
  background-repeat: no-repeat;
  background-position: calc(0% + 5px) center;
  background-color: #aeaeae;
  padding-left: 25px;
  border-color: #aeaeae;
  border-radius: 25px;
  font-size: 14px;
  
}


.btn.btn-sm.btn-primary.btn-export{
  background-color: #469c42;
  border-color: #469c42;
  border-radius: 25px;
  background-size: 25px 25px;
  
  font-size: 14px;
}
.glyphicon{
  font-size: 14px;
  vertical-align: -1.5px;
}

@media (max-height: 810px) {
  .dropdown {
    position: relative;
  }
  .dropdown-menu {
    bottom: 100%;
    top: auto;
    margin-bottom: 5px;
  }
}

.underExport{
  margin-left: 82px;
}
}
  