.leaflet-control-contours{
  z-index: 999 !important;

  a.leaflet-control-contours-button{
    background: url(icon.svg) no-repeat 0 0;
    background-size: 26px 26px;
    border-radius: 2px;
  }

  div.contours-panel{ display: none; }
  .popright{
    position: absolute;
   top: 10%;
   left: -10%;
   transform: translate(-100%, 0%) !important;
 }
  .open{
    a.leaflet-control-contours-button{
      display: none;
    }

    div.contours-panel{
      display: block;
    }
  }
}
.leaflet-touch .leaflet-control-contours a {
  background-size: 40px 40px;
  background-position: -4.3px -3px;
}
