version: '2.1'
services:
  webapp:
    entrypoint: /bin/bash -c "chmod +x /webodm/*.sh && /bin/bash -c \"/webodm/wait-for-postgres.sh db /webodm/wait-for-it.sh -t 0 broker:6379 -- /webodm/start.sh --create-default-pnode --setup-devenv\""
    ports:
      - "35729:35729"
    volumes:
      - .:/webodm
      - /webodm/venv
  worker:
    volumes:
      - .:/webodm
      - /webodm/venv