celery==5.4.0
numpy==1.24.4
scipy==1.10.1
Django==4.2.14
django-codemirror2==0.2
django-colorfield==0.11.0
django_filter==2.4.0
django-guardian==2.4.0
django_imagekit==5.0.0
django_redis==4.12.1
django-webpack-loader==0.7.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf_nested_routers==0.94.1
django-cors-headers==4.4.0
drf_yasg==1.21.7
piexif==1.1.3
pyodm==1.5.11
pytz==2024.1
requests==2.32.3
tzlocal==1.3
morecantile==5.3.0
rio_tiler==6.6.1
rio_cogeo==5.3.3
rasterio==1.3.10
urllib3==1.26.19
psycopg2==2.9.9
# GDAL-python will be installed if Python3 is found during the process of building GDAL from source.
GDAL==3.8.5 ; sys_platform == 'darwin'
https://github.com/OpenDroneMap/WebODM/releases/download/v1.9.7/GDAL-3.3.3-cp39-cp39-win_amd64.whl ; sys_platform == "win32"
pyproj==3.5.0
