{% load bootstrap_extras %}

<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10 ">
        {{ field|with_class:'form-control' }}
        {% if field.errors %}
            <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
        {% endif %}
        {% if field.help_text %}
            <span class="help-block ">{{ field.help_text }}</span>
        {% endif %}
    </div>
</div>