{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% load settings %}

{% block registration_content %}
    {% if form.errors %}
        <div class="alert alert-warning">
            <p><strong>{% trans "Invalid credentials." %}</strong> {% trans "Note that both fields are case-sensitive." %}</p>
        </div>
    {% endif %}

    {% is_single_user_mode as autologin %}
    {% external_auth_endpoint as ext_auth_ep %}

    {% if autologin %}
        <script>location.href='/';</script>
    {% else %}
    <form id="loginForm" {% if ext_auth_ep != "" %} style="display: none" {% endif %} action="{% url 'login' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
        {% for field in form %}
            {% include 'registration/form_field.html' %}
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">{% trans 'Log in' %}</button>
            </div>
            <div class="top-buffer col-sm-offset-2 col-sm-10">
              <!--<p><a href="{% url 'password_reset' %}">{% trans "Reset My Password" %}</a></p>-->
                <p><a href="javascript:toggleForgotPasswordHint();">Forgot your password?</a></p>
                <script>function toggleForgotPasswordHint(){ $("#forgotPasswordHint").toggle(); }</script>
                <div id="forgotPasswordHint" style="display: none; font-size: 90%; padding: 4px;" class="theme-secondary">
                    You can reset the administrator password by running the following command:
                    <span class="theme-background-highlight" style="padding: 4px; margin: 8px 0; display: inline-block;">./webodm.sh resetadminpassword yournewpass</span><br/>
                    If you used WebODM Manager to launch WebODM, find the "Reset Password" button within the maintenance panel or within one of WebODM Manager menus.
                </div>
            </div>
        </div>
    </form>

    {% if ext_auth_ep != '' %}
    <div class="text-center" id="authLoading">
        <i class="fa fa-spin fa-circle-notch fa-spin fa-fw fa-2x"></i>
    </div>
    <script>
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    function delCookie(name) {
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    $(function(){
        if (getCookie("autologin") !== undefined){
            $.ajax({
                url: "{{ ext_auth_ep }}",
                type: "POST",
            }).done(function(res){
                console.log(res);
                // delCookie("autologin");
            }).fail(function(){

                // delCookie("autologin");
            });
        }else{
            $("#authLoading").hide();
            $("#loginForm").show();
        }
    });
    </script>
    {% endif %}

    {% endif %}
{% endblock %}