{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% load settings %}

{% block extra-headers %}
<style>
    #mainNav.navbar {
        border-color: transparent;
        background-color: transparent;
        background-image: none;
    }
</style>
{% endblock %}

{% block registration_content %}
    <div class="flex-parent flex-parent--column">
        <div class="flex-parent flex-parent--column bg-header container-login" style="background-image: url('/static/app/img/landing/bg-screen.jpeg')">
            <div class="wrap-login">
                <form action="{% url 'register' %}" method="post" class="login-form">{% csrf_token %}
                    <h3 class="login-form-title">
                        {% trans 'Register' %}
                    </h3>
                    <div class="text-center mb-3">
                        Already have an account? <a href="/login" class="ml-3">{% trans 'Log in' %}</a>.
                    </div>
                    
                    {% for field in form %}
                        {% include 'registration/form_field.html' %}
                    {% endfor %}
    
                    <div class="form-btn">
                        <button class="btn btn-lg" type="submit">{% trans 'Register' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
