/* CHANGELISTS */
/* CHANGELIST TABLES */
/* TOOLBAR */
/* FILTER COLUMN */
/* DATE DRILLDOWN */
/* PAGINATOR */
/* ACTIONS */
#changelist {
  position: relative;
  width: 100%;
}
#changelist table {
  width: 100%;
}
#changelist table thead th {
  padding: 0;
  white-space: nowrap;
  vertical-align: middle;
}
#changelist table thead th.action-checkbox-column {
  width: 1.5em;
  text-align: center;
}
#changelist table tbody td.action-checkbox {
  text-align: center;
}
#changelist table tbody tr.selected {
  background-color: #d9d9d9;
}
#changelist table tfoot {
  color: #666;
}
#changelist table input {
  margin: 0;
  vertical-align: baseline;
}
#changelist .field-plugin_actions a[disabled] {
  pointer-events: none;
}
#changelist .toplinks {
  border-bottom: 1px solid #ddd;
}
#changelist .paginator {
  color: #666;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
#changelist #toolbar {
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #edeeef;
}
#changelist #toolbar .search-container {
  display: flex;
  align-items: center;
  position: relative;
}
#changelist #toolbar .search-container label span {
  top: 50%;
  left: 10px;
  font-size: 18px;
  position: absolute;
  transform: translateY(-50%);
  pointer-events: none;
  color: #14a5a2;
}
#changelist #toolbar form input {
  border-radius: 30px;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat Bold" !important;
}
#changelist #toolbar form #searchbar {
  padding: 5px 20px 5px 40px;
  width: 220px;
  border: none;
  background-color: #e3e3e3;
}
#changelist #toolbar form #searchbar:focus {
  border: none;
}
#changelist #toolbar form input[type=submit] {
  padding: 5px 30px 5px 30px;
  margin-left: 20px;
  background-color: #74b06f;
  width: 130px;
}
#changelist #toolbar form input[type=submit]:hover {
  background-color: #6b9262;
}

.actions {
  margin-left: 20px;
  display: flex;
  align-items: center;
  background-color: #edeeef;
  margin-bottom: 40px !important;
}
.actions span.all {
  font-size: 13px;
  margin: 0 0.5em;
  display: none;
}
.actions span.action-counter {
  font-size: 13px;
  margin: 0 0.5em;
  display: none !important;
}
.actions span.clear {
  font-size: 13px;
  margin: 0 0.5em;
  display: none;
}
.actions span.question {
  font-size: 13px;
  margin: 0 0.5em;
  display: none;
}
.actions:last-child {
  border-bottom: none;
}
.actions label {
  margin: 0;
}
.actions select {
  border-radius: 30px;
  box-sizing: border-box;
  outline: none;
  width: 220px;
  border: none;
  background-color: #e3e3e3;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(./icons/caret-down-fill.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
  padding-right: 40px;
}
.actions select:focus {
  border-color: #999;
}
.actions label {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.actions .button {
  border-radius: 30px;
  box-sizing: border-box;
  outline: none;
  padding: 5px 30px 5px 30px !important;
  font-weight: 600 !important;
  margin-left: 20px !important;
  background-color: #74b06f;
  width: 130px;
  font-family: "Montserrat Bold" !important;
}
.actions .button:focus {
  border-color: #999;
}
.actions .button:hover {
  background-color: #6b9262;
}

.actions.selected {
  background: #fffccf;
  border-top: 1px solid #fffee8;
  border-bottom: 1px solid #edecd6;
}

.change-list .hiddenfields {
  display: none;
}
.change-list .filtered {
  min-height: 400px;
}
.change-list .filtered table {
  border-right: none;
}
.change-list .filtered table tbody th {
  padding-right: 1em;
}
.change-list .filtered .results {
  margin-right: 280px;
  width: auto;
}
.change-list .filtered .paginator {
  margin-right: 280px;
  width: auto;
}
.change-list ul.toplinks {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
.change-list ul.toplinks li {
  padding: 3px 6px;
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
}
.change-list ul.toplinks .date-back a {
  color: #999;
}
.change-list ul.toplinks .date-back a:focus {
  color: #036;
}
.change-list ul.toplinks .date-back a:hover {
  color: #036;
}

.filtered #toolbar {
  width: auto;
}
.filtered div.xfull {
  margin-right: 280px;
  width: auto;
}
.filtered .actions {
  border-right: none;
  margin-bottom: 8px;
}

#changelist-form .results {
  overflow-x: auto;
}

#changelist-filter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 240px;
  background: #f8f8f8;
  border-left: none;
  margin: 0;
}
#changelist-filter h2 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 5px 15px;
  margin-bottom: 12px;
  border-bottom: none;
}
#changelist-filter h3 {
  font-weight: 400;
  font-size: 14px;
  padding: 0 15px;
  margin-bottom: 10px;
}
#changelist-filter ul {
  margin: 5px 0;
  padding: 0 15px 15px;
  border-bottom: 1px solid #eaeaea;
}
#changelist-filter ul:last-child {
  border-bottom: none;
  padding-bottom: none;
}
#changelist-filter li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#changelist-filter a {
  display: block;
  color: #999;
}
#changelist-filter a:focus {
  color: #036;
}
#changelist-filter a:hover {
  color: #036;
}
#changelist-filter li.selected {
  border-left: 5px solid #eaeaea;
  padding-left: 10px;
  margin-left: -15px;
}
#changelist-filter li.selected a {
  color: #5b80b2;
}
#changelist-filter li.selected a:focus {
  color: #036;
}
#changelist-filter li.selected a:hover {
  color: #036;
}

.paginator {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  margin: 0;
  border-top: 1px solid #ddd;
}
.paginator a:link {
  padding: 2px 6px;
  background: #79aec8;
  text-decoration: none;
  color: #fff;
}
.paginator a:visited {
  padding: 2px 6px;
  background: #79aec8;
  text-decoration: none;
  color: #fff;
}
.paginator a:focus {
  color: white;
  background: #036;
}
.paginator a:hover {
  color: white;
  background: #036;
}
.paginator a.showall {
  padding: 0;
  border: none;
  background: none;
  color: #5b80b2;
}
.paginator a.showall:focus {
  background: none;
  color: #036;
}
.paginator a.showall:hover {
  background: none;
  color: #036;
}
.paginator .end {
  margin-right: 6px;
}
.paginator .this-page {
  padding: 2px 6px;
  font-weight: bold;
  font-size: 13px;
  vertical-align: top;
}

/*# sourceMappingURL=changelists.css.map */
