@import url("widgets.css");
/* FORM ROWS */
.admin-area {
  /* FORM LABELS */
  /* RADIO BUTTONS */
  /* ALIGNED FIELDSETS */
  /* WIDE FIELDSETS */
  /* COLLAPSED FIELDSETS */
  /* MONOSPACE TEXTAREAS */
  /* SUBMIT ROW */
  /* CUSTOM FORM FIELDS */
  /* INLINES */
  /* RELATED FIELD ADD ONE / LOOKUP */
}
.admin-area .form-row {
  overflow: hidden;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}
.admin-area .form-row img, .admin-area .form-row input {
  vertical-align: middle;
}
.admin-area .form-row label input[type=checkbox] {
  margin-top: 0;
  vertical-align: 0;
}
.admin-area form .form-row p {
  padding-left: 0;
}
.admin-area .hidden {
  display: none;
}
.admin-area label {
  font-weight: normal;
  color: #666;
  font-size: 13px;
}
.admin-area .required label, .admin-area label.required {
  font-weight: bold;
  color: #333;
}
.admin-area form ul.radiolist li {
  list-style-type: none;
}
.admin-area form ul.radiolist label {
  float: none;
  display: inline;
}
.admin-area form ul.radiolist input[type=radio] {
  margin: -2px 4px 0 0;
  padding: 0;
}
.admin-area form ul.inline {
  margin-left: 0;
  padding: 0;
}
.admin-area form ul.inline li {
  float: left;
  padding-right: 7px;
}
.admin-area .aligned label {
  display: block;
  padding: 4px 10px 0 0;
  float: left;
  width: 200px;
  word-wrap: break-word;
  line-height: 1;
  color: #666;
}
.admin-area .aligned label:not(.vCheckboxLabel):after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 26px;
}
.admin-area .aligned label + p {
  padding: 6px 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 170px;
}
.admin-area .aligned ul label {
  display: inline;
  float: none;
  width: auto;
}
.admin-area .aligned .form-row input {
  margin-bottom: 0;
}
.admin-area .colMS .aligned .vLargeTextField, .admin-area .colMS .aligned .vXMLLargeTextField {
  width: 350px;
}
.admin-area form .aligned ul {
  margin-left: 6px;
  padding-left: 3px;
}
.admin-area form .aligned ul.radiolist {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.admin-area form .aligned p.help {
  clear: left;
  margin-top: 0;
  margin-left: 160px;
  padding-left: 0px;
}
@media (max-width: 768px) {
  .admin-area form .aligned p.help {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.admin-area form .aligned label + p.help {
  margin-left: 0;
  padding-left: 0;
}
.admin-area form .aligned p.help:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.admin-area form .aligned input + p.help,
.admin-area form .aligned textarea + p.help,
.admin-area form .aligned select + p.help {
  margin-left: 160px;
  padding-left: 0px;
}
.admin-area form .aligned ul li {
  list-style: none;
}
.admin-area form .aligned table p {
  margin-left: 0;
  padding-left: 0;
}
.admin-area .aligned .vCheckboxLabel {
  float: none;
  width: auto;
  display: inline-block;
  vertical-align: -3px;
  padding: 0 0 5px 5px;
}
.admin-area .aligned .vCheckboxLabel + p.help {
  margin-top: -4px;
}
.admin-area .colM .aligned .vLargeTextField, .admin-area .colM .aligned .vXMLLargeTextField {
  width: 610px;
}
.admin-area .checkbox-row p.help {
  margin-left: 0;
  padding-left: 0;
}
.admin-area fieldset .field-box {
  float: left;
  margin-right: 20px;
}
.admin-area form .wide p, .admin-area form .wide input + p.help {
  margin-left: 200px;
}
.admin-area form .wide p.help {
  padding-left: 38px;
}
.admin-area .colM fieldset.wide .vLargeTextField, .admin-area .colM fieldset.wide .vXMLLargeTextField {
  width: 450px;
}
.admin-area fieldset.collapsed * {
  display: none;
}
.admin-area fieldset.collapsed h2, .admin-area fieldset.collapsed {
  display: block;
}
.admin-area fieldset.collapsed {
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
}
.admin-area fieldset.collapsed h2 {
  background: #f8f8f8;
  color: #666;
}
.admin-area fieldset .collapse-toggle {
  color: #fff;
}
.admin-area fieldset.collapsed .collapse-toggle {
  background: transparent;
  display: inline;
  color: #447e9b;
}
.admin-area fieldset.monospace textarea {
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
.admin-area .submit-row {
  margin: 0 0 20px;
  background: transparent;
  text-align: right;
  overflow: hidden;
}
.admin-area body.popup .submit-row {
  overflow: auto;
}
.admin-area .submit-row input.default {
  margin-left:5px;
}
.admin-area .submit-row input.default:hover {
  opacity: 0.9;
}
.admin-area .submit-row input.cancel {
  background-color: #afafaf !important;
}
.admin-area .submit-row p {
  margin: 0.3em;
}
.admin-area .submit-row p.deletelink-box {
  float: left;
  margin-top: 10px;
}
.admin-area .submit-row a.deletelink {
  display: block;
  background: #ba2121;
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 15px;
  color: #fff;
}
.admin-area .submit-row a.deletelink:focus,
.admin-area .submit-row a.deletelink:hover,
.admin-area .submit-row a.deletelink:active {
  background: #a41515;
}
.admin-area .submit-row .add-btn {
  height: 35px;
  line-height: 15px;
  border-radius: 40px;
  background-color: #319c41 !important;
  width: 220px;
}
.admin-area .submit-row .cancel-btn.add-btn {
  background-color: #afafaf !important;
}
.admin-area .submit-row .add-btn:hover {
  opacity: 0.8 !important;
}
.admin-area .vSelectMultipleField {
  vertical-align: top;
}
.admin-area .vCheckboxField {
  border: none;
}
.admin-area .vDateField, .admin-area .vTimeField {
  margin-right: 2px;
  margin-bottom: 4px;
}
.admin-area .vDateField {
  min-width: 6.85em;
}
.admin-area .vTimeField {
  min-width: 4.7em;
}
.admin-area .vURLField {
  width: 30em;
}
.admin-area .vLargeTextField, .admin-area .vXMLLargeTextField {
  width: 48em;
}
.admin-area .flatpages-flatpage #id_content {
  height: 40.2em;
}
.admin-area .module table .vPositiveSmallIntegerField {
  width: 2.2em;
}
.admin-area .vTextField {
  width: 20em;
}
.admin-area .vIntegerField {
  width: 5em;
}
.admin-area .vBigIntegerField {
  width: 10em;
}
.admin-area .vForeignKeyRawIdAdminField {
  width: 5em;
}
.admin-area .inline-group {
  padding: 0;
  margin: 0 0 30px;
}
.admin-area .inline-group thead th {
  padding: 8px 10px;
}
.admin-area .inline-group .aligned label {
  width: 160px;
}
.admin-area .inline-related {
  position: relative;
}
.admin-area .inline-related h3 {
  margin: 0;
  color: #666;
  padding: 5px;
  font-size: 13px;
  background: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.admin-area .inline-related h3 span.delete {
  float: right;
}
.admin-area .inline-related h3 span.delete label {
  margin-left: 2px;
  font-size: 11px;
}
.admin-area .inline-related fieldset {
  margin: 0;
  background: #fff;
  border: none;
  width: 100%;
}
.admin-area .inline-related fieldset.module h3 {
  margin: 0;
  padding: 2px 5px 3px 5px;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  background: #bcd;
  color: #fff;
}
.admin-area .inline-group .tabular fieldset.module {
  border: none;
}
.admin-area .inline-related.tabular fieldset.module table {
  width: 100%;
}
.admin-area .last-related fieldset {
  border: none;
}
.admin-area .inline-group .tabular tr.has_original td {
  padding-top: 2em;
}
.admin-area .inline-group .tabular tr td.original {
  padding: 2px 0 0 0;
  width: 0;
  _position: relative;
}
.admin-area .inline-group .tabular th.original {
  width: 0px;
  padding: 0;
}
.admin-area .inline-group .tabular td.original p {
  position: absolute;
  left: 0;
  height: 1.1em;
  padding: 2px 9px;
  overflow: hidden;
  font-size: 9px;
  font-weight: bold;
  color: #666;
  _width: 700px;
}
.admin-area .inline-group ul.tools {
  padding: 0;
  margin: 0;
  list-style: none;
}
.admin-area .inline-group ul.tools li {
  display: inline;
  padding: 0 5px;
}
.admin-area .inline-group div.add-row,
.admin-area .inline-group .tabular tr.add-row td {
  color: #666;
  background: #f8f8f8;
  padding: 8px 10px;
  border-bottom: 1px solid #eee;
}
.admin-area .inline-group .tabular tr.add-row td {
  padding: 8px 10px;
  border-bottom: 1px solid #eee;
}
.admin-area .inline-group ul.tools a.add,
.admin-area .inline-group div.add-row a,
.admin-area .inline-group .tabular tr.add-row td a {
  background: url(../img/icon-addlink.svg) 0 1px no-repeat;
  padding-left: 16px;
  font-size: 12px;
}
.admin-area .empty-form {
  display: none;
}
.admin-area .add-another, .admin-area .related-lookup {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 14px;
}
.admin-area .add-another {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-addlink.svg);
}
.admin-area .related-lookup {
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
}
.admin-area form .related-widget-wrapper ul {
  display: inline-block;
  margin-left: 6px;
  padding-left: 3px;
}
.admin-area .clearable-file-input input {
  margin-top: 0;
}

  /* custom preset */
  #preset_form #id_owner {
    width: 25rem;
    background-color: #E3E3E3;
    border-radius: 50px;
  }
  
  #preset_form #id_name {
    width: 25rem;
    background-color: #E3E3E3;
    border-radius: 50px;
  }
  
  #preset_form #id_options {
    background-color: #E3E3E3;
    border-radius: 25px;
    min-height: 184px;
    min-width: 245px;
  }
  
  #preset_form #id_created_at_0 {
    width: 10rem;
    background-color: #E3E3E3;
    border-radius: 50px;
  }
  
  #preset_form #id_created_at_1 {
    width: 10rem;
    background-color: #E3E3E3;
    border-radius: 50px;
  }
  
  #preset_form .form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #preset_form .datetime {
    display: flex;
    flex-direction: column;
  }
  
  #preset_form .datetime input {
    width: 200px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: 10px;
    background-color: #f4f4f4;
  }
  
  #preset_form .datetimeshortcuts {
    display: inline-block;
    margin-left: 10px;
  }
  
  #preset_form .date-icon, #preset_form .clock-icon {
    margin-left: 5px;
    cursor: pointer;
  }
  
  #preset_form .timezonewarning {
    font-size: 0.9em;
    color: #888;
    margin-top: 5px;
  }
  
  #preset_form .help {
    color: #777;
    font-size: 0.9em;
    margin-top: 5px;
  }
  #preset_form .submit-row input {
    border-radius: 50px;
  }
  #preset_form .submit-row .default{
    background-color: #319c41;
  }
  #preset_form .submit-row .addanother{
    background-color: #74B16F;
  }

  #preset_form .submit-row .continue{
    background-color: #74B16F;
  }
  #preset_form {
    width: 70%;
  }
/*# sourceMappingURL=forms.css.map */
