.slcontrols{
    .slcheckbox{
        font-weight: normal;
        font-size: 90%;
        width: 100%;
    }
    .sldelete{
        user-select: none;
        margin-top: 8px;
        display: block;
        font-size: 80%;
        &:hover{
            cursor: pointer;
        }
    }
}