.ion-tasks .list-group .list-group-item {
	border-right: 0;
	border-left: 0;
	border-radius: 0;
	padding: 20px 0;

	&:first-child {
		border-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
		border-bottom: 0;
	}

	.progress {
		margin-bottom: 0;
	}
}
