.plugin-measure.popup{
    p{
        margin: 0;
    }

    .error.long{
        overflow: scroll;
        display: block;
        max-height: 200px;
    }

    a.export-measurements{
    	display: block;
    	margin-top: 12px;
    }
}