.plugin-measure.popup{
    p{
        margin: 0;
    }

    .error.long{
        overflow: scroll;
        display: block;
        max-height: 200px;
    }

    a.export-measurements{
    	display: block;
    	margin-top: 12px;
    }

    .base-control{
        display: inline-block;
        margin-top: 16px;
        select{
            font-size: 12px;
            height: auto;
            margin-left: 4px;
            padding: 4px;
            display: inline-block;
            width: auto;
        }
    }
}