# Automatically renew the SSL certificate (if needed)
0 0 1 * * root source /webodm/.cronenv; bash -c "/webodm/nginx/letsencrypt-autogen.sh"

# An empty line is required at the end of this file for a valid cron file.
