{% extends "app/plugins/templates/base.html" %}
{% load bootstrap_extras %}
{% block content %}
<h3>Welcome to DroneDB!</h3>
<h5><strong>Instructions</strong></h5>
On this screen, you can provide the registry url and credentials to access DroneDB
<br/>
<br/>
<form action="" method="post" class="oam-form oam-token-form">
	<h4>Settings</h4>
	{% csrf_token %}
	{% include "app/plugins/templates/form.html" %}
	<button type="submit" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Save Configuration</i></button>
</form>

{% endblock %}
