# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/potree/build
public/potree/test
public/potree/test1
public/potree/360
public/potree/node_modules
public/potree/docs/.marking_your_own_pointcloud_loader.md.html
public/potree/docs/.file_format.md.html
public/potree/docs/.doc.md.html
public/potree/docs/.how_does_loading_nodes_work.md.html
public/potree/docs/.materials_and_rendermodes.md.html
public/potree/docs/.how_to_create_your_own_pointcloud_loader.md.html
public/potree/examples/index.html
public/potree/.project
public/potree/libs/CesiumUnminified
public/potree/examples/page.html
public/potree/resources/icons/index.html


public/potree/pointclouds/retz
public/potree/pointclouds/NVIDIA_Ph01-20160403_tiles_converted
public/potree/pointclouds/D
public/potree/pointclouds/C
public/potree/pointclouds/wrneustadt
public/potree/pointclouds/alszeile
public/potree/pointclouds/heidentor
public/potree/pointclouds/gane
public/potree/pointclouds/test
public/potree/pointclouds/test1
public/potree/pointclouds/mobile
public/potree/pointclouds/sjl2
public/potree/pointclouds/morro_bay_converted
public/potree/pointclouds/helimap_epalinges
public/potree/pointclouds/F
