{% extends "app/logged_in_base.html" %}
{% load i18n %}

{% block content %}

 
<style>
    html {
      height: 100%;
      background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
      overflow: hidden;
    }
    .about-text{
        z-index: 2; 
        position: absolute;
        margin-right: 12px;
    }
    </style>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

{% load i18n %}

<div class="text-center about-text">
    <h2 class="theme-secondary">SanalCBS</h2>
    

    <div style="font-size: 90%; opacity: 0.9;" class="theme-secondary">falan filan</div>
</div>

{% endblock %}
