{% extends "app/logged_in_base.html" %}
{% load i18n %}

{% block content %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'Dashboard' attrs='async' %}

<!--[if lte IE 8]>
		<div class="alert alert-warning alert-dismissible">
            Dronebox cannot be used with this version of Internet Explorer. Could you please upgrade <a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx">Internet Explorer</a> to the latest version or use <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>?
        </div>
	<![endif]-->

{% if no_tasks %}
<h3>{% trans 'Welcome!' %}</h3>
{% trans 'Select Images and GCP' as upload_images %}
<p>
	{% blocktrans %} To create a map, press the "{{ upload_images }}" button, or drag and drop some images into a
	project. {% endblocktrans %}
</p>
<p>
<ul>
	<li>{% trans 'You need at least 5 images' %}</li>
	<li>{% trans 'Images must overlap by 65% or more' %}</li>
	<li>{% trans 'For great 3D, images must overlap by 83%' %}</li>
	<li>{% trans 'A GCP file is optional, but can increase georeferencing accuracy' %}</li>
</ul>
</p>
{% endif %}

<div id="dashboard-app" data-dashboard></div>

{% endblock %}