{% extends 'landing_base.html' %}
{% load i18n %}

{% block page-wrapper %}
<header class="about-header bg-header">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Documentation</h2>
                <p>Getting started on the Dronebox platform</p>
            </div>
        </div>
    </div>
</header>

<section class="about-content">
    <div class="container">
        <h3>Introduction</h3>
    </div>
</section>
{% endblock %}