{% extends 'base.html' %}
{% load i18n %}

{% block navbar-top-links %}
<ul class="navbar-nav ml-auto">
    <!-- <li class="nav-item">
        <a class="nav-link" href="/docs">Documentation</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" href="#examples" v-text='$t("nav_menu_exam")'></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#prices" v-text='$t("nav_menu_price")'></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about" v-text='$t("nav_menu_about")'></a>
    </li>
</ul>
<a class="btn navbar-btn" href="/dashboard">
    {% if user.is_authenticated %}
    <span v-text='$t("goto_dashboard")'></span>
    {% else %}
    <span v-text='$t("nav_btn_login")'></span>
    {% endif %}
</a>
<ul class="nav nav-pills">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">
            <img class="mr-2" :src="currentLang.img" alt="" style="width: 16px; height: 16px;">
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" @click="selectLang('th')">TH</a>
            <a class="dropdown-item" @click="selectLang('en')">EN</a>
        </div>
    </li>
</ul>
{% endblock %}

{% block extra-headers %}
<style>
    #mainNav.navbar-top {
        border-color: transparent;
        background-color: transparent;
        background-image: none;
    }
</style>
{% endblock %}

{% block footer %}
<footer>
    <div class="container text-md-left text-xs-left">
        <div class="row">
            <div class="footer-area col-lg-4 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="mb-3"><img src="/static/app/img/landing/logo-white.png" style="height:57px"></div>
                <span v-text="$t('page_main.header_title')"></span>
                <div class="social-icon mt-3">
                    <a class="facebook">
                        <i class="fab fa-facebook-f white-text mr-md-5 fa-2x"> </i>
                    </a>
                    <a class="instagram">
                        <i class="fab fa-instagram white-text mr-md-5 fa-2x"> </i>
                    </a>
                    <a class="medium">
                        <i class="fab fa-medium white-text mr-md-5 fa-2x"> </i>
                    </a>
                </div>
            </div>
            <div class="footer-area col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <h5 class="mb-3" v-html="$t('footer_title_link')"></h5>
                <div class="quick-link">
                    <div class="mb-3"><a href="#page-top" v-html="$t('footer_menu_home')"></a></div>
                    <div class="mb-3"><a href="#examples" v-html="$t('nav_menu_exam')"></a></div>
                    <div class="mb-3"><a href="#prices" v-html="$t('nav_menu_price')"></a></div>
                    <div class="mb-3"><a href="about.html" v-html="$t('nav_menu_about')"></a></div>
                </div>
            </div>
            <div class="footer-area col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="map">
                    <iframe frameborder="0" height="220"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1910.3560425273229!2d100.19132409092454!3d16.74121159882652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30dfbf90bb38d3e1%3A0xb965f2514b3ac6d2!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5geC4oeC4nuC4nuC4tOC5gOC4lOC4teC4oiDguIjguLPguIHguLHguJQ!5e0!3m2!1sen!2sth!4v1582077454850!5m2!1sen!2sth"
                        style="border:0;" width="100%"></iframe>
                </div>
            </div>
            <div class="footer-area col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <h5 class="mb-3" v-text="$t('footer_title_contact')"></h5>
                <table>
                    <tr>
                        <td class="icon-col"><i class="fas fa-phone"></i></td>
                        <td class="info-contact">093-036-3366</td>
                    </tr>
                    <tr>
                        <td class="icon-col"><i class="fas fa-envelope"></i></td>
                        <td class="info-contact">mapedia.com@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="icon-col"><i class="fas fa-map-marker"></i></td>
                        <td class="info-contact" v-text="$t('footer_company')"></td>
                    </tr>
                    <tr>
                        <td class="icon-col"></td>
                        <td class="info-contact" v-text="$t('footer_address')"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright by
        <a href="https://www.mapedia.co.th/"> Mapedia</a>
    </div>

</footer>
{% endblock %}