{% extends "app/base.html" %}
{% load i18n static %}


{% block navbar-top-links %}
    <ul class="nav navbar-nav navbar-top-links navbar-right">
        <li>
            <a style="color: white;" href="/dashboard/"><i class="fa fa-dashboard fa-fw"></i> {% trans 'Dashboard' %}</a>
        </li>
        {% load processingnode_extras plugins %}
        {% can_view_processing_nodes as view_nodes %}
        {% can_add_processing_nodes as add_nodes %}
        {% get_visible_processing_nodes as nodes %}
        
        {% get_plugins_main_menus as plugin_menus %}
        {% for menu in plugin_menus %}
        <li>
            <a href="{{menu.link}}" style="color: white;"><i class="{{menu.css_icon}}"></i> {{menu.label}}{% if menu.has_submenu %}<span
                    class="fa arrow"></span>{% endif %}</a>
        
            {% if menu.has_submenu %}
            <ul class="nav nav-second-level">
                {% for menu in menu.submenu %}
                <li>
                    <a href="{{menu.link}}"><i class="{{menu.css_icon}}"></i> {{menu.label}}{% if menu.has_submenu %}<span
                            class="fa arrow"></span>{% endif %}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}

        {% if user.is_superuser %}          
            <li>
                <a href="/admin/">Go to Admin Panel <i class="fa fa-arrow-right"></i></a>
            </li>
        {% endif %}

        <!-- /.dropdown-user -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li class="user-profile">
                    {% trans 'Hello' %}, {{ user.username }}<br/>
                    <span class="email">{{ user.email }}</span>
                </li>
                <li class="divider"></li>
                <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Logout' %}</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>

    </ul>
{% endblock %}

{% block page-wrapper %}
<div id="page-wrapper">
    <section class="main">
        <div class="content">
            {{ SETTINGS.theme.html_after_header|safe }}

            {% block messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}
        </div>
    </section>
</div>
{% endblock %}
