{% extends "app/base.html" %}
{% load i18n static settings %}

{% block navbar-top-links %}
<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
                {% trans 'Hello' %}, {{ user.username }}<br />
                <span class="email">{{ user.email }}</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout/"><i class="fa fa-sign-out-alt fa-fw"></i> {% trans 'Logout' %}</a>
        </div>
    </li>
</ul>
{% endblock %}

{% block navbar-sidebar %}
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/dashboard/"><i class="fa fa-map fa-fw"></i> {% trans 'Projects' %}</a>
    </li>

    {% load processingnode_extras plugins %}
    {% can_view_processing_nodes as view_nodes %}
    {% can_add_processing_nodes as add_nodes %}
    {% get_visible_processing_nodes as nodes %}

    {% get_plugins_main_menus as plugin_menus %}
    {% for menu in plugin_menus %}
    <li class="nav-item">
        <a class="nav-link" href="{{menu.link}}"><i class="{{menu.css_icon}}"></i>{{menu.label}}</a>

        {% if menu.has_submenu %}
        <ul class="nav nav-second-level">
            {% for menu in menu.submenu %}
            <li>
                <a class="nav-link" href="{{menu.link}}"><i class="{{menu.css_icon}}"></i>{{menu.label}}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}

    {% if user.is_staff %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false"><i class="fa fa-cogs fa-fw"></i> {% trans 'Administration' %}</a>
        <div class="dropdown-menu">
            {% is_single_user_mode as hide_users %}
            {% if not hide_users %}
            <a class="dropdown-item" href="/admin/auth/user/"><i class="fa fa-user fa-fw"></i>
                {% trans 'Accounts' %}</a>
            <a class="dropdown-item" href="/admin/auth/group/"><i class="fa fa-users fa-fw"></i>
                {% trans 'Groups' %}</a>
            <div class="dropdown-divider"></div>
            {% endif %}
            <a class="dropdown-item" href="{% url 'admin:app_setting_change' SETTINGS.id %}"><i
                    class="fa fa-magic fa-fw"></i>
                {% trans 'Brand' %}</a>
            <a class="dropdown-item" href="{% url 'admin:app_theme_change' SETTINGS.theme.id %}"><i
                    class="fa fa-paint-brush fa-fw"></i>
                {% trans 'Theme' %}</a>
            <a class="dropdown-item" href="/admin/app/plugin/"><i class="fa fa-plug fa-fw"></i>
                {% trans 'Plugins' %}</a>
            <a class="dropdown-item" href="/admin/app/"><i class="fa fa-cog fa-fw"></i> {% trans 'Application' %}</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/processingnode/"><i class="fa fa-wrench fa-fw"></i>
                {% trans 'Processing Nodes' %}</a>
            {% get_plugins_admin_menus as plugin_admin_menus %}
            {% for menu in plugin_admin_menus %}
            <a class="dropdown-item" href="{{menu.link}}"><i class="{{menu.css_icon}}"></i> {{menu.label}}</a>
            {% endfor %}
        </div>
    </li>
    {% endif %}
</ul>
<!-- /.navbar-static-side -->
{% endblock %}

{% block page-wrapper %}
<div id="page-wrapper">
    <section class="main">
        <div class="content">
            {{ SETTINGS.theme.html_after_header|safe }}

            {% block messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}
        </div>
    </section>
</div>
{% endblock %}