<div id="map-placeholder" style="height: 100%">
    <div style="display: flex; margin-top: 4px" id="map-placeholder-header">
        <div class="placeholder-item border" style="width: 34px; height: 34px; border-radius: 100%; margin-right: 8px;"></div>
        <div class="placeholder-item shimmer" style="width: 33%; height: 34px;"></div>
        <div style="width: 45%"></div>
        <div class="placeholder-item border shimmer" style="width: 10%; height: 34px; margin-right: 4px;"></div>
        <div class="placeholder-item border shimmer" style="width: 10%; height: 34px;"></div>
    </div>

    <div class="placeholder-item pulse" id="map-placeholder-map" style="margin-top: 16px; display: flex; height: calc(100% - 32px); width: 100%; justify-content: center; align-items: center">
        <i class="fa fa-globe"></i>
    </div>
</div>