{% extends "app/logged_in_base.html" %}
{% load i18n tz %}

{% block content %}

{% load render_bundle from webpack_loader %}
{% render_bundle 'Console' attrs='async' %}

<table class="table table-bordered table-striped table-first-col-bold processing-node-info">
	<tr>
		<td>Nome do Host</td>
		<td>{{ processing_node.hostname }}</td>
	</tr>
	<tr>
		<td>Porta</td>
		<td>{{ processing_node.port }}</td>
	</tr>
	<tr>
		<td>Versão da API</td>
		<td>{{ processing_node.api_version }}</td>
	</tr>
	<tr>
		<td>Engine</td>
		<td>{{ processing_node.engine }}</td>
	</tr>
	<tr>
		<td>Versão da engine</td>
		<td>{{ processing_node.engine_version }}</td>
	</tr>
	<tr>
		<td>Contagem da fila</td>
		<td>{{ processing_node.queue_count }}</td>
	</tr>
	<tr>
		<td>Limite maximo de imagens</td>
		<td>{{ processing_node.max_images }}</td>
	</tr>
	<tr>
		<td>Rótulo</td>
		<td>{{ processing_node.label|default:"Vazio" }}</td>
	</tr>
	<tr>
		<td>Última atualização</td>
		<td>{{ processing_node.last_refreshed|timesince }} Atrás' context '5 minutos atrás ({{ processing_node.last_refreshed|localtime }})</td> <!-- TODO: timezone? -->
	</tr>
	<tr>
		<td>Opções (JSON)</td>
		<td><div data-console data-console-lang="js" data-console-height="300">{{ available_options_json}}</div></td>
	</tr>
</table>
{% if user.is_superuser %} 
<div class="text-center">
	<button class="btn btn-default" onclick="location.href='{% url "admin:nodeodm_processingnode_change" processing_node.id %}';"><i class="glyphicon glyphicon-pencil"></i> Editar</button>
	<button class="btn btn-danger" onclick="location.href='{% url "admin:nodeodm_processingnode_delete" processing_node.id  %}';"><i class="glyphicon glyphicon-trash"></i> Deletar</button>
</div>
{% endif %}

{% endblock %}
