{% load settings static %}
{% theme "primary" as theme_primary %}
{% theme "secondary" as theme_secondary %}
{% theme "tertiary" as theme_tertiary %}
{% theme "button_primary" as theme_button_primary %}
{% theme "button_default" as theme_button_default %}
{% theme "button_danger" as theme_button_danger %}
{% theme "header_primary" as theme_header_primary %}
{% theme "border" as theme_border %}
{% theme "highlight" as theme_highlight %}
{% theme "dialog_warning" as theme_dialog_warning %}
{% theme "success" as theme_success %}
{% theme "failed" as theme_failed %}

#navbar-top {
    position: fixed;  /* Fixa a barra no topo da viewport */
    width: 100%;  /* Faz a barra se estender por toda a largura da viewport */
    top: 0;  /* Alinha a barra no topo da viewport */
    z-index: 1050;  /* Um valor de z-index alto para manter a barra no topo sobre outros elementos */
}
#page-wrapper{
	margin-top: 61px;
}

/* Primary */
body,
ul#side-menu.nav a,
.console,
.alert,
.form-control,
.dropdown-menu > li > a,
.theme-color-primary
{
    color: #707070;
}

.theme-border-primary{
    border-color: #707070;
}
.tooltip .tooltip-inner{
	background-color: #707070;
}
.tooltip.left .tooltip-arrow{ border-left-color: #707070; }
.tooltip.top .tooltip-arrow{ border-top-color: #707070; }
.tooltip.bottom .tooltip-arrow{ border-bottom-color: #707070; }
.tooltip.right .tooltip-arrow{ border-right-color: #707070; }

.theme-fill-primary{
    fill: #707070;
}
.theme-stroke-primary{
    stroke: #707070;
}

/* Secondary */
.navbar-default,
.console,
.alert,
.form-control,
.dropdown-menu,
.theme-secondary
{
	background-color: #fff;
}

body {
	background-color: #edeeef;
}

.tooltip > .tooltip-inner{
	color: #fff;
}

.alert.close:hover{
    color: {% complementary theme_secondary %};
}
.alert.close:focus{
    color: {% complementary theme_secondary %};
}

.pagination li > a,
.pagination .disabled > a,
.pagination .disabled > a:hover, .pagination .disabled > a:focus{
	color: #fff;
	background-color: #78b5b5;
	border-color: #78b5b5B3;
	transition: all 0.3s;
}

.theme-border-secondary-07{
	border-color: {% scaleby theme_secondary 0.7 %} !important;
}

.btn-secondary, .btn-secondary:active, .open>.dropdown-toggle.btn-secondary{
	background-color: #fff;
	border-color: #fff;
	color: #707070;
}

.btn-secondary:hover, .open>.dropdown-toggle.btn-secondary:hover,
.btn-secondary:active, .open>.dropdown-toggle.btn-secondary:active,
.btn-secondary:focus, .open>.dropdown-toggle.btn-secondary:focus{
    background-color: {% scalebyiv theme_secondary 0.90 %};
    border-color: {% scalebyiv theme_secondary 0.90 %};
    color: #707070;
}


/* Tertiary */
a, a:hover, a:focus{
	color: #699e9e;
}
.progress-bar-success{
    background-color: #699e9e;
}

/* Button primary */
#navbar-top .navbar-top-links a:hover,
#navbar-top .navbar-top-links a:focus,
#navbar-top .navbar-top-links .open > a{
    background-color: {{ theme_button_primary }};
    color: #fff;
}

#navbar-top ul#side-menu a:focus{
    background-color: inherit;
    color: inherit;
}

#navbar-top ul#side-menu a:hover, #navbar-top ul#side-menu a.active:hover{
	background-color: {{ theme_button_primary }};
	color: #fff;
}

.btn-primary, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background-color: {{ theme_button_primary }};
	border-color: {{ theme_button_primary }};
	color: #fff;
}

.btn-primary:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active, .btn-primary.active:active, .open>.dropdown-toggle.btn-primary:active,
.btn-primary:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus,
.btn-primary[disabled]:hover, .btn-primary.active[disabled]:hover, .open>.dropdown-toggle.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus, .btn-primary.active[disabled]:focus, .open>.dropdown-toggle.btn-primary[disabled]:focus,
.btn-primary[disabled]:active, .btn-primary.active[disabled]:active, .open>.dropdown-toggle.btn-primary[disabled]:active{
    background-color: {% scalebyiv theme_button_primary 0.90 %};
    border-color: {% scalebyiv theme_button_primary 0.90 %};
    color: #fff;
}

/* Button default */
.btn-default, .btn-default:active, .open>.dropdown-toggle.btn-default{
	background-color: #79b5b5;
	border-color: #79b5b5;
	color: #fff;

}
.btn-default:hover, .open>.dropdown-toggle.btn-default:hover,
.btn-default:active, .open>.dropdown-toggle.btn-default:active,
.btn-default:focus, .open>.dropdown-toggle.btn-default:focus,
.btn-default[disabled]:hover, .open>.dropdown-toggle.btn-default[disabled]:hover,
.btn-default[disabled]:focus, .open>.dropdown-toggle.btn-default[disabled]:focus,
.btn-default[disabled]:active, .open>.dropdown-toggle.btn-default[disabled]:active{
	background-color: #699e9e;
	border-color: #699e9e;
	color: #fff;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus,
.pagination .active > a:hover, .pagination .active > a:focus,
.pagination li > a:hover, .pagination li > a:focus{
	background-color: #699e9e;
	color: #fff;
}

.pagination li > a.sort-item {
  background-color: #fff;
  color: #707070;
}

/* Button danger */
.btn-danger, .btn-danger:active, .open>.dropdown-toggle.btn-danger{
	background-color: {{ theme_button_danger }};
	border-color: {{ theme_button_danger }};
	color: #fff;
}
.btn-danger:hover, .open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active, .open>.dropdown-toggle.btn-danger:active,
.btn-danger:focus, .open>.dropdown-toggle.btn-danger:focus,
.btn-danger[disabled]:hover, .open>.dropdown-toggle.btn-danger[disabled]:hover,
.btn-danger[disabled]:active, .open>.dropdown-toggle.btn-danger[disabled]:active,
.btn-danger[disabled]:focus, .open>.dropdown-toggle.btn-danger[disabled]:focus{
	background-color: {% scalebyiv theme_button_danger 0.90 %};
	border-color: {% scalebyiv theme_button_danger 0.90 %};
	color: #fff;
}

.theme-color-button-danger{
    color: {{ theme_button_danger }};
}

.theme-color-button-primary{
    color: {{ theme_button_primary }};
}

/* Header background */
#navbar-top{
	background-color: #14a5a2;
}

/* Header primary */
.navbar-default .navbar-link,
#navbar-top .navbar-top-links a.dropdown-toggle,
#navbar-top .navbar-top-links a.nav-link {
	color: white;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar{
	background-color: #fff;
}

.navbar-default .navbar-link:hover,
#navbar-top .navbar-top-links a.dropdown-toggle:hover,
#navbar-top .navbar-top-links a.nav-link:hover,
#navbar-top .navbar-top-links .dropdown.open a.dropdown-toggle{
	color: #fff;
}

/* Border */
.sidebar ul li,
#page-wrapper,
table-bordered>thead>tr>th, .table-bordered>thead>tr>th, table-bordered>tbody>tr>th, .table-bordered>tbody>tr>th, table-bordered>tfoot>tr>th, .table-bordered>tfoot>tr>th, table-bordered>thead>tr>td, .table-bordered>thead>tr>td, table-bordered>tbody>tr>td, .table-bordered>tbody>tr>td, table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>td,
footer,
.modal-content,
.modal-header,
.modal-footer,
.dropdown-menu
{
	border-color: {{ theme_border }};
}
.dropdown-menu .divider{
	background-color: {{ theme_border }};
}
.popover-title{
	border-bottom-color: {{ theme_border }};
}
.theme-border{
    border-color: {{ theme_border }} !important;
}

/* Highlight */
.task-list-item:nth-child(odd),
.table-striped>tbody>tr:nth-of-type(odd),
select.form-control option[disabled],
.theme-background-highlight{
	background-color: {{ theme_highlight }};
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
	background-color: {{ theme_highlight }};
	color: #707070;
}
pre.prettyprint,
.form-control{
	border-color: {{ theme_highlight }};
}
pre.prettyprint:focus,
.form-control:focus{
	border-color: {% scalebyiv theme_highlight 0.7 %};
}

/* Dialog warning */
.alert-warning{
	border-color: {{ theme_dialog_warning }};
}

/* Success */
.task-list-item .status-label.done, .theme-background-success{
	background-color: {{ theme_success }};
}

/* Failed */
.task-list-item .status-label.error, .theme-background-failed{
	background-color: {{ theme_failed }};
}

/* ModelView.jsx specific */
.model-view #potree_sidebar_container .dropdown-menu > li > a{
	color: #707070;
}

/* MapView.jsx specific */
.leaflet-bar a, .leaflet-control > a{
	background-color: #ececec !important;
	border-color: #ececec !important;
	color: #4aa4a1 !important;
	font-family: "Montserrat Bold";
}

.leaflet-bar a:hover, .leaflet-control > a:hover{
	filter: brightness(85%);
}

.leaflet-popup-content-wrapper{
	background-color: #fff !important;
	color: #707070 !important;
}
.leaflet-popup-content-wrapper a{
	color: #699e9e !important;
}

.leaflet-container a.leaflet-popup-close-button{
	color: #707070 !important;
}
.leaflet-container a.leaflet-popup-close-button:hover{
	color: {% complementary theme_secondary %} !important;
}

.tag-badge{
	background-color: #79b5b5;
	border-color: #79b5b5;
	color: #fff;
}

.tag-badge a, .tag-badge a:hover{
	color: #fff;
}

@font-face {
	font-family: "Montserrat Bold";
	src: url( {% static 'app/fonts/Montserrat-Bold.ttf' %} );
	font-weight: 700;
}

@font-face {
	font-family: "Montserrat Regular";
	src: url( {% static 'app/fonts/Montserrat-Regular.ttf' %} );
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat ExtraBold";
	src: url( {% static 'app/fonts/Montserrat-ExtraBold.ttf' %} );
	font-weight: 800;
}

@font-face {
	font-family: 'Custom Glyph';
	src:  url('{% static 'app/fonts/glypgicons-icomoon.eot' %}?gc93mw');
	src:  url('{% static 'app/fonts/glypgicons-icomoon.eot?gc93mw#iefix' %}') format('embedded-opentype'),
	  url('{% static 'app/fonts/glypgicons-icomoon.ttf' %}?gc93mw') format('truetype'),
	  url('{% static 'app/fonts/glypgicons-icomoon.woff?gc93mw' %}') format('woff'),
	  url('{% static 'app/fonts/glypgicons-icomoon.svg?gc93mw#icomoon' %}') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.content-upload-glyphicon, .content-import-glyphicon {
	font-family: 'Custom Glyph' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	 
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
.content-import-glyphicon:before {
	content: "\e900";
}
.content-upload-glyphicon:before {
	content: "\e901";
}