{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_header %}
{% if not firstuserform.errors %}

{% endif %}
{% endblock %}

{% block registration_content %}
{% if firstuserform.errors %}
<div class="alert alert-warning">
    <p>{% trans "Uh oh! Could you please check the errors below?" %}</p>
</div>
{% else %}
<h3>{% trans 'Welcome! ☺' %}</h3>
<div style="margin-bottom: 28px;">Before we get started, we need to create an administrator account for you:</div>
{% endif %}

<form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
    {% for field in firstuserform %}
    {% include 'registration/form_field.html' %}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{% trans 'Create Account' %}</button>
        </div>
    </div>
</form>
{% endblock %}