input.db-input {
    height: calc(1.9em + .75rem + 2px);
}


textarea.db-input {

    &.none-resize {
        resize: none;
    }
}

.db-input {
    border-radius: 8px; 
    &:focus {
        border-color: $color-primary;
        box-shadow: 0 0 0 0.2rem rgba(0, 150, 136, 0.3);
    }
}