.sidebar {
    transition: all 0.5s ease !important;

}

.toggle-button {
    padding: 0 !important;
    border: none;
    background: none;
    display: flex;
    justify-content: start;
    margin-left: 0;
    transition: margin-left 0.5s ease;
}

.toggle-button img {
    transition: transform 0.3s ease, opacity 0.1s ease;
}

.toggle-button img:hover {
    opacity: 0.8;
}

.collapsed-side .toggle-button img {
    transform: rotate(-360deg);
}


.collapsed-side {
    width: 65px !important;
    padding: 10px !important;
}

.collapsed-side-margin {
    margin-left: 65px !important;
}

.collapsed-side ul  {
    white-space: nowrap;
    width: 100%;

}

.sidebar ul li a {
    transition: padding 0.5s ease;
}

.sidebar.collapsed-side ul li a {
    display: flex;
    align-items: center;
    padding: 10px 11.25px !important;

}
[data-sidebar="link-text"] {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.collapsed-side [data-sidebar="link-text"] {
    opacity: 0;
}

.sidebar-nav.navbar-collapse.collapse.in [data-sidebar="link-text"] {
    opacity: 1;
}

.nav.nav-second-level.collapse {
    transition: height 0.5s ease;
}

.collapsed-side [data-sidebar="dropdown"] {
    visibility: hidden;
    opacity: 0;
    height: 0 !important;
    overflow: hidden;
    transition: visibility 0.5s, opacity 0.5s ease;
}


@media (max-width: 767px) {
    .toggle-button {
        display: none !important;
    }

    .collapsed {
        width: 0px !important;
        background-color: red !important;
    }
    
    .collapsed-margin {
        margin-left: 0px !important;
    }

    .sidebar {
        display: block !important;
        padding: 0 !important;
        width: 100% !important;
    }

    .sidebar-nav.collapse.in {
        display: block !important;
        
    }

    .sidebar-nav.collapse {
        display: none !important;

    }

    
}