.platform-btn {
	.fa-cloud-import {
		margin-right: 0.5em;
	}

	.caret {
		margin-left: 1em;
	}
	
	.btn-sm {
		border-radius: 0;
	}
}

.platforms-dropdowns {
	display: inline-block;
	
	.dropdown {
		float: none;
	}
}
