.asset-download-buttons{
    display: inline-block;

    button{
        color: #fff;

        i {
            position: relative;
            margin-right: 5px;
        }
    }

    &.btn-group{
        button{
            i{
                left: auto;
            }
        }
    }
}