.asset-download-buttons{
    display: inline-block;
    margin-bottom: 10px;
   
   
    button{
        color: #fff;
        background-color: #4B8B45;
        border: none;
        padding: 6px 10px 6px 10px;
        i {
            position: relative;
            margin-right: 5px;
        }
    }

    &.btn-group{
        button{
            i{
                left: auto;
            }
        }
    }
}
