.console-buttons{
    margin-left: 16px;
    margin-bottom: 16px;
    float: right;
    text-align: right;
    a{
        margin-left: 4px;
        background-color: #52994c;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;

        &:hover {
            background-color: #4b8b45 !important;
        }
    }
}

.console{
    .exit-fullscreen{
        display: none;
    }
}

.console:fullscreen{
    .exit-fullscreen{
        display: block;
        margin-bottom: 12px;
    }
}