#dashboard-app{
    .row{
        &.no-margin{
            margin: 0;
        }
    }

    .progress{
        height: 20px;
        margin-bottom: 4px;
        .progress-bar{
            font-size: 14px;
            line-height: 18px;
        }
    }

    .add-button, .list-group{
        margin-bottom: 8px;
    }
}