#dashboard-app{
    .project-list-item-panel{
        min-height: 100px;
    }

    .row.no-margin{
        margin: 0;
    }

    .progress{
        height: 20px;
        margin-bottom: 4px;
        .progress-bar{
            font-size: 14px;
            line-height: 18px;
        }
    }
}