.edit-task-form{
	.presets-dropdown{
		margin-left: 8px;

        @media screen and (max-width: 768px){
            margin-left: 0px;
            margin-top: 10px;
        }            
        
	}

	.preset-performing-action-icon{
		margin-left: 12px;
	}

	.preset-error{
		margin-top: 12px;
	}

	.system-preset{
		background-color: #eee;
    }
    
    .review-options{
        margin-top: 10px;
        margin-bottom: 14px;
    }

    .name-loading{
        position: absolute;
        right: 60px;
        top: 15px;
        opacity: 0.5;
    }

    .name-fields{
        display: flex;
        .btn.toggle-tags{
            margin-top: 2px;
            margin-bottom: 2px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        input[type="text"]{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

/* ---------------------Button---------------------- */

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group-data {
    justify-content: start;
}

.input-field {
    background-color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    outline: none;
}

.name-input {
    width: 100%;
}

.data-input {
    width: 95px;
}

.remove-style {
    background: none;
    border: none;
    outline: none;
}

.fa-tag {
    color: #14A5A2;
    transform: scale(1.2);
}