.edit-project-dialog{
   
    
    .name-fields{
        display: flex;
        .btn.toggle-tags{
            margin-top: 0;
            margin-bottom: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        input[type="text"]{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-color: transparent;
            border-right-width: 0px;
        }
        button {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            background-color: #fff;
            border: 1px solid #f7f7f7;
            border-left: none;
            color: #14a5a2;
            -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
            -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            -webkit-box-shadow:none;
            box-shadow:none;
            border-width:2px;

            &:hover {
                color: #108684;
            }
        }

        input[type="text"]:focus + button{
            border-width: 2px;
            border-color: #acacac;
            outline:0;
            -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(44,62,80,0.6);
            box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(44,62,80,0.6);
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}
.btn-S-C
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

 .btn-cancel {
        background-color: #afafaf;
        border-color: #a0a0a0;
        margin-left: 5px !important;
        margin-right: 5px !important;

        &:hover {
            background-color: #a0a0a0;
        }
    }
    .modal-dialog .btn-cancel{
        color: #fff !important;
    }
    .modal-dialog .btn-cancel:hover{
        opacity: 0.65 !important;
        background-color: #a0a0a0 !important;
    }