.form-dialog{
    .fa-spin{
        margin-right: 4px;
    }
}

.modal-dialog {

    button {
        transition: all 0.3s;
    }

    padding-top: 10%;

    .modal-content {
        background-color: rgba($color: #fff, $alpha: 0.85);
    }
    
    .close {
        opacity: 1.0;
    }
    
    .x-close {
        color: #7c7c7c;
        opacity: 1.0;
        font-family: "Montserrat Bold";
    }
    
    .save {
        background-color: #529a4c;
        color: #fff;
        border-color: #4b8b45;
    }
    
    .save:hover {
        background-color: #4b8b45;
    }
    
    .btn-cancel {
        background-color: #afafaf;
        border-color: #a0a0a0;

        &:hover {
            background-color: #a0a0a0;
        }
    }
    
    #edit-project-popup {
        padding-bottom: 5px;
        
    }

    .btn-danger, .btn-default {
        border-radius: 25px;
        font-size: 12px;

    }

    @media (max-width: 767px) {
            
        .modal-footer {
            display: flex;
            flex-direction: column;
            gap: 5px;



            .pull-right {
                display: flex;
                flex-direction: column;
                gap: 5px;

                button {
                    margin: 0;
                }
            }


            .text-left {
                display: flex;
                flex-direction: column;
                gap: 5px;

                button:first-of-type {
                    order: 2; 
                }
            
                button:last-of-type {
                    order: 1; 
                }

                button {
                    margin: 0;
                }
            }
        }
        
    }
}

.modal-title {
    color: #4ca2a1;
}