.form-dialog{
    .fa-spin{
        margin-right: 4px;
    }
}

.modal-dialog { 
    
    
    button {
        transition: all 0.3s;
    }


    padding-top: 10%;

    .modal-content {
        background-color: rgba($color: #fff, $alpha: 0.85);
    }
    
    .close {
        opacity: 1.0;
        
    }
    
    .x-close {
        color: #ffffff;
        opacity: 1.0;
        font-family: "Montserrat Bold";
    }
    
    .save {
        background-color: #529a4c;
        color: #fff;
        border-color: #4b8b45;
    }
    
    .save:hover {
        background-color: #4b8b45;
    }
    .btn{
        margin: 0px;
        
        .btn-S-C
        {
            display: flex;
            flex-direction: column;
        }
    }

    .btn-cancel {
        background-color: #afafaf;
        border-color: #a0a0a0;
        margin-left: 5px !important;
        margin-right: 5px !important;

        &:hover {
            background-color: #a0a0a0;
        }
    }
    
    #edit-project-popup {
        padding-bottom: 5px;
        // display: flex;
        
    }

    .btn-danger, .btn-default {
        border-radius: 25px;
        font-size: 12px;
 

    }



    @media (max-width: 767px) {
        .modal-content {
            display: flex;
            min-width: 100% ;
            flex-direction: column;
        }
            
        .modal-footer {
            display: flex;
            flex-direction: column;
            gap: 5px;



            .btn {
                display: flex;
                flex-direction: column !important; 
                gap: 5px;

                button {
                    margin: 0;

                }
            }


            .text-left {
                display: flex;
                flex-direction: column;
                gap: 5px;

                button:first-of-type {
                    order: 2; 
                }
            
                button:last-of-type {
                    order: 1; 
                }

                button {
                    margin: 0;
                }
            }
        }
        

    }

}

.modal-title {
    color: #4ca2a1;
}
