.histogram{
    user-select: none;
    margin-bottom: 8px;

    &.disabled{
        opacity: 0.5;
        pointer-events: none;
    }
    
    .histogram-container{
        &:hover{
            cursor: pointer;
        }
    }
    
    select, input{
        height: auto;
        padding: 4px;
    }

    .min-max{
        display: inline;
        width: 92px;
        margin-right: 12px;
    }

    .axis {
        shape-rendering: crispEdges;
      }
      
      .x.axis line {
        display: none;
      }
      
      .x.axis .minor {
        stroke-opacity: .5;
      }
      
      .x.axis path {
        display: none;
      }

    .slider-line{
        stroke-width: 4;
        opacity: 0.4;
        &:hover{
            cursor: ew-resize;
        }
    }
}