.import-task-panel{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;

    button{
    	margin-right: 12px;
    	margin-bottom: 8px;
    }

    .glyphicon-arrow-right{
    	font-size: 80%;
    }

    .close:hover, .close:focus{
    	color: inherit;
    }
}