.leaflet-touch .leaflet-control-layers-control{
    .layers-control-layer{
        .layer-label{
            width: auto;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            text-align: left;
            padding-left: 4px;
            margin-left: 50px;
            height: 22px;
            line-height: 22px;
            padding-top: 1px;
        }

        .layer-expanded{
            clear: both;
        }
      
        .toggle{
          float: left;
          width: 22px;
          i{
              font-size: 18px;
          }
          &:hover{
              background-color: inherit !important;
              border-width: 0;
          }
        }

    }
}