.leaflet-touch .leaflet-control-layers-control, .leaflet-control-layers-control{
  z-index: 999;
  
  a.leaflet-control-layers-control-button{
    background: no-repeat center url(../icons/layers.svg);
    background-size: 50px 50px;
    background-position-y: -8px;
  }

  div.layers-control-panel{ display: none; }
  
  .open{
    a.leaflet-control-layers-control-button{
      display: none;
    }

    div.layers-control-panel{
      display: block;
    }
  }
}
