.map{
    position: relative; 

    .leaflet-popup-content{
        .title{
            font-weight: bold;
            margin-bottom: 8px;
        }

        .asset-links{
            li:first-child{
                display: none;
            }
            &.loading{
                li{ display: none }
                li:first-child{
                    display: block;
                }
                padding-left: 0;
                list-style-type: none;
            }
            margin-top: 8px;
            padding-left: 16px;

            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
        .switchModeButton{
            bottom: 12px;
        }
    }

    .leaflet-right .leaflet-control,
    .leaflet-control-measure.leaflet-control{
        margin-right: 12px;
    }

    .leaflet-touch .leaflet-control-layers-toggle{
        width: 30px;
        height: 30px;
        background-size: 20px;
    }

    .popup-opacity-slider{
        margin-bottom: 6px;
    }

    .actionButtons{
        position: absolute;
        z-index: 2000;
        right: 12px;
        bottom: 20px;
        & > *{
            display: inline-block;
            margin-left: 12px;
        }
    }

    .standby{
        z-index: 1000;
    }
}