.map{
    position: relative; 

    .opacity-slider{
        $rounded-corners: 10px;

        border-radius: 4px;
        text-align: center;
        width: 230px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -100px;
        z-index: 999;
        padding-bottom: 3px;
        padding-top: 2px;
        font-size: 13px;
        border-top-left-radius: $rounded-corners !important;
        border-top-right-radius: $rounded-corners !important;
        border-bottom-left-radius: $rounded-corners !important;
        border-bottom-right-radius: $rounded-corners !important;
        background-color: #ececec !important;
    }

    .leaflet-touch .leaflet-control-layers-toggle, .leaflet-control-layers-toggle{
        background: no-repeat center url(../icons/basemap.svg);
        width: 30px;
        height: 30px;
        background-size: 50px 40px;
        background-position-y: -4px;
    }

    .leaflet-touch .leaflet-bar {
        border-width: 2px;
        $rounded-corners: 5px;

        border-top-left-radius: $rounded-corners !important;
        border-top-right-radius: $rounded-corners !important;
        border-bottom-left-radius: $rounded-corners !important;
        border-bottom-right-radius: $rounded-corners !important;
    }

    .leaflet-control-container {
        $rounded-corners: 5px;

        .leaflet-control-zoom {

            .leaflet-control-zoom-in,
            .leaflet-control-zoom-out {
                font-size: 30px !important;
            }

            .leaflet-control-zoom-in {
                border-top-left-radius: $rounded-corners !important;
                border-top-right-radius: $rounded-corners !important;

            }

            .leaflet-control-zoom-out {
                border-bottom-left-radius: $rounded-corners !important;
                border-bottom-right-radius: $rounded-corners !important;
            }
        }

        .leaflet-bar a.leaflet-bar-part {
            border-top-left-radius: $rounded-corners !important;
            border-top-right-radius: $rounded-corners !important;
            border-bottom-left-radius: $rounded-corners !important;
            border-bottom-right-radius: $rounded-corners !important;
        }
    }

    .leaflet-popup-content{
        .title{
            font-weight: bold;
            margin-bottom: 8px;
        }

        .asset-links{
            li:first-child{
                display: none;
            }
            &.loading{
                li{ display: none }
                li:first-child{
                    display: block;
                }
                padding-left: 0;
                list-style-type: none;
            }
            margin-top: 8px;
            padding-left: 16px;

            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
        .switchModeButton{
            bottom: 12px;
        }
    }

    .leaflet-right .leaflet-control,
    .leaflet-control-measure.leaflet-control{
        margin-right: 12px;
    }

    .popup-opacity-slider{
        margin-bottom: 6px;
    }

    .actionButtons{
        position: absolute;
        z-index: 2000;
        right: 12px;
        bottom: 20px;

        & > *{
            display: inline-block;
            margin-left: 12px;
        }
    }

    .standby{
        z-index: 1000;
    }

    .leaflet-control-add-overlay{
        z-index: 999;
      
        a.leaflet-control-add-overlay-button{
          background: url(../icons/dragndrop-add.svg) no-repeat center;
          background-size: 40px 40px;
          border-radius: 2px;
          &:hover{
              cursor: pointer;
          }
        }
      
    }
    .leaflet-touch .leaflet-control-add-overlay a, .leaflet-control-add-overlay a {
        background-position: -4.2px -3px;
    }
    .leaflet-container{        
        a.leaflet-popup-close-button{
            top: 8px;
            right: 8px;
        }
    }
}