.map{
    position: relative; 

    .leaflet-popup-content{
        .title{
            font-weight: bold;
            margin-bottom: 8px;
        }

        .asset-links{
            margin-top: 8px;
            padding-left: 16px;
        }
        .switchModeButton{
            bottom: 12px;
        }
    }

    .leaflet-control-measure.leaflet-control{
        margin-right: 12px;
    }

    .popup-opacity-slider{
        margin-bottom: 6px;
    }

    .shareButton{
        z-index: 2000;
        bottom: 11px;
        right: 38px;
    }
}