.map-preview{
    position: relative;
    margin-bottom: 16px;
    border-radius: 3px;
    .leaflet-container, .standby .cover{
        border-radius: 3px;
    }

    .standby{
        z-index: 1001;
    }

    .download-control{
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: 999;
    }
}