[data-mapview]{
    height: 100%;
}

.map-view{
    height: 80%;
    input[type="range"]{
        margin-left: 4px;
        display: inline-block;
        width: auto;
        position: relative;
        top: 6px;
    }

    .controls{
        margin-top: 8px;
    }
}