[data-mapview]{
    position: fixed;
    top: 83px;
    bottom: 0; left: 0; right: 0;
}

.map-view{
    height: 100%;
    position: relative;

    input[type="range"]{
        margin-left: 4px;
        display: inline-block;
        width: 130px;
        position: relative;
        top: 6px;
    }

    .map-type-selector{
        float: right;
    }

    .title {
        position: absolute;
        top: 14px;
        left: 14px;
        z-index: 99999;
        color: white;
    }

    .map-container{
        height: 100%;
        position: relative;
        .standby{
            z-index: 99999;
        }
    }
}