[data-mapview]{
    height: 100%;
}

.map-view{
    height: 80%;
    position: relative;

    input[type="range"]{
        margin-left: 4px;
        display: inline-block;
        width: auto;
        position: relative;
        top: 6px;
    }

    .opacity-slider{
        text-align: center;
        width: 220px;
        position: absolute;
        bottom: -32px;
        left: 50%;
        margin-left: -100px;
        z-index: 400;
        padding-bottom: 6px;
        background-color: white;
    }

    .map-type-selector{
        float: right;
    }
}