.new-task-panel{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    .alert{
    	margin-top: 4px;
    	ol, ul{
    		margin-bottom: 10px;
    		margin-top: 4px;
    	}
    	button{
    		margin-top: 10px;
    	}

        &.alert-images{
            button{
                margin-top: 0;
            }
        }
    }

    p.header{
        margin: 8px;
    }

    .resize-control{
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        width: 11em;
        
        input{
            width: 8em;
            display: inline-block;
        }

        span{
            width: 2em;
            opacity: 0.6;
            font-size: 90%;
            display: inline-block;
        }
    }

    .disabled{
        opacity: 0.8;
        pointer-events:none;
    }

    button.redo{
        margin-top: 0;
        margin-left: 10px;
    }
}