@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.new-task-panel{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #E3E3E3;

    .new-task-panel .resize-images-container {
        display: block;
    }

    .alert{
    	margin-top: 4px;
    	ol, ul{
    		margin-bottom: 10px;
    		margin-top: 4px;
    	}
    	button{
    		margin-top: 10px;
    	}
    }

    p.header{
        margin: 8px;
    }

    .resize-control{
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        width: 11em;
        
        input{
            width: 8em;
            display: inline-block;
        }

        span{
            width: 2em;
            opacity: 0.6;
            font-size: 90%;
            display: inline-block;
        }
    }

    .disabled{
        opacity: 0.8;
        pointer-events:none;
    }

    button.redo{
        margin-top: 0;
        margin-left: 10px;
    }
    .text-right {
        display: flex;
        justify-content: end;
    }
    
    .resize-images-container {
        display: block;
        flex-wrap: wrap;

        .col-sm-10 {
            padding: 0;
        }
    }
    
    /* ---------------------File Text---------------------- */
    
    .files-text {
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        color: #838383;
    }
    
    /* ---------------------Cancel Button---------------------- */
    
    .btn-danger {
        background-color: #AFAFAF;
        border: none;
        border-radius: 50px;
        padding: 15px 20px;
        transition: all 0.2s;
    }
    
    .btn-danger:hover {
        background-color: rgb(220, 45, 45);
    }
    
    /* ---------------------Next/Confirm Button---------------------- */
    
    .btn-confirm {
        color: #fff;
        background-color: #74B16F;
        border: none;
        border-radius: 50px;
        padding: 15px 35px;
        transition: all 0.2s;
    }
    
    .btn-confirm:hover {
        background-color: #529A4C;
    }
    
    /* ---------------------Button Default---------------------- */
    
    .btn-default-s {
        color: #fff;
        background-color: #AFAFAF;
        border-radius: 15px;
        border: none;
        transition: all 0.2s;
    }
    
    .btn-default-s:hover, .btn-default-s:active {
        background-color: #6a6a6a;
    }
    
    /* ---------------------Icons---------------------- */
    
    .caret {
        width: 10px;
        height: auto;
    }
    
    .input-field {
        background-color: #FFFFFF;
        padding: 10px;
        border: none;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        outline: none;
    }

    @media (max-width: 600px) {
        .resize-images-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .col-sm-10 {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .files-text {
            font-size: 15px;
            text-align: center;
        }
    
        .resize-control {
            width: 100%;
        }
    
        .btn-confirm {
            padding: 15px 20px;
        }

        .btn-danger {
            padding: 10px 15px;
        }

        .text-right {
            justify-content: center;
        }
    }
}
