
.leaflet-touch .leaflet-control-overview-control, .leaflet-control-overview-control{
    z-index: 999;
    a.leaflet-control-overview-control-button{
      background: no-repeat center url(../icons/overview.svg);
      background-size: 25px 25px;
      // background-position-y: 1px;
    }
  
    div.overview-control-panel{ display: none; }
    
    .open{
      a.leaflet-control-overview-control-button{
        display: none;
      }
  
      div.overview-control-panel{
        display: block;
      }
    }
}
  