.leaflet-control-overview-control .overview-control-panel {
  padding: 6px 10px 6px 6px;
  background: #fff;
  width: 300px;
  min-height: 74px;
  max-height: 418px;
  overflow-y: auto;
  border-radius: 12px;
  border: none;
  .close-button {
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAkUlEQVR4AZWRxQGDUBAFJ9pMflNIP/iVSkIb2wgccXd7g7O+3JXCQUgqBAfFSl8CMooJGQHfuUlEwZpoahZQ7ODTSXWJQkxyioock7BL2tXmdF4moJNX6IDZfbUBQNrX7qfeXfPuqwBAQjEz60w64htGJ+luFH48gt+NYe6v5b/cnr9asM+HlRQ2Qlwh2CjuqQQ9vKsKTwhQ1wAAAABJRU5ErkJggg==);
    height: 18px;
    width: 18px;
    margin-right: 0;
    float: right;
    vertical-align: middle;
    text-align: right;
    margin-top: 0px;
    margin-left: 16px;
    position: relative;
    left: 2px;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  .title {
    font-size: 120%;
    margin-right: 120px;
  }

  hr {
    clear: both;
    margin: 6px 0px;
    border-color: #ddd;
  }

  * {
    font-size: 12px;
  }
  .list-overview {
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
  }
  .list-overview::-webkit-scrollbar {
    width: 13px; /* Largura da barra de rolagem */
  }
  
  /* Estilo da trilha da barra de rolagem (track) */
  .list-overview::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha */
    border-radius: 10px;
  }
  
  .list-overview::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
  }
  
  /* Estilo da barra de rolagem quando estiver sendo clicada */
  .list-overview::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
  }

  .layer-item {
    margin-bottom: 10px;
    list-style: none;
  }

  .list-layer-items.collapsed {
    display: none;
  }

  .collapsed-infos-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 5px;
    padding: 0px 4px;
    height: 18px;
    width: 18px;
    color: #fff;
    border: none;
    background-color: #4b8b45;
  }
  .collapsed-infos-btn:hover{
    background-color: #319c41;
  }

  a.link-item {
    display: inline;
    background-color: transparent !important;
    border: none;
  }

  a.link-item:hover {
    opacity: 0.6;
  }
  .conteiner-button {
    display: flex;
    justify-content: center;
    justify-items: center;
    
  }
  .send,
  .clear {
    background-color: #319c41;
    border-radius: 20px;
    margin: 5px;
    padding: 4px;
    color: #fff;
    border: none;
    width: 23%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .send:hover {
    background-color: #4b8b45;
  }

  .clear {
    background-color: #afafaf;
  }

  .clear:hover {
    background-color: #888888;
  }
}
