.paginator{
    .toolbar{
        i{
            opacity: 0.8;
        }
        margin-right: 8px;
    }
    .btn-group.open > .dropdown-menu{
        top: 22px;
        a{
            border: none;
        }
    }
}