@import "../../css/var.scss";
.project-list-item.project-card {
    min-height: 60px;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 24px;

    .project-name{
        font-weight: bold;
        font-size: 24px;
    }

    .edit-project-btn {
        color: $color-primary;
    }

    .task-toggle {
        color: $color-primary;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .project-description {
        font-size: 20px;
    }

    .drag-drop-icon{
        display: none;
        position: absolute;
        border-radius: 100%;
        padding: 16px;
        left: 48%;
        top: 0;
        font-size: 300%;
        -webkit-animation: pulsate 0.5s ease-out;
        -webkit-animation-iteration-count: infinite; 
        animation: pulsate 0.5s ease-out;
        animation-iteration-count: infinite; 
        opacity: 0.5;
        pointer-events:none;
    }

    @-webkit-keyframes pulsate {
        0% {opacity: 0.5;}
        50% {opacity: 1.0;}
        100% {opacity: 0.5;}
    }
     @keyframes pulsate {
        0% {opacity: 0.5;}
        50% {opacity: 1.0;}
        100% {opacity: 0.5;}
    }

    &.refreshing{
        background-color: #eee;
    }

     -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;

    &.dz-drag-hover{
        .drag-drop-icon{
            display: block;
        }
        background-color: #f7f7f7;
    }

    .project-links{
        font-size: 90%;
        i{
            margin-right: 4px;
        }
        a{
            margin-right: 12px;
        }
    }
    
    .dz-preview{
        display: none;
    }

    .row{
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }
}
