.sort-items{
    .sort-order-label{
        opacity: 0.7;
        padding-left: 12px;
    }

    a{
        margin-right: 0 !important;
        padding-left: 24px !important;
    }

    a:hover{
        cursor: pointer;
    }

    .fa-check{
        font-size: 80%;
        margin-left: 8px;
    }
}
