.leaflet-touch .leaflet-control-sprayline-control, .leaflet-control-sprayline-control{
    z-index: 999;
    
    a.leaflet-control-sprayline-control-button{
      background: no-repeat center url(../icons/pulverizar.svg);
      background-size: 25px 25px;
      background-position-y: 2px;
    }
  
    div.sprayline-control-panel{ display: none; }
    
    .open{
      a.leaflet-control-sprayline-control-button{
        display: none;
      }
  
      div.sprayline-control-panel{
        display: block;
      }
    }
}
  