.plugin-action-buttons{
    button{
        margin-right: 4px;
    }

    .btn-group{
        button:first-child{
            margin-right: 0;
        }
    }

    & > div{
        display: inline-block;
    }

    &.disabled{
        opacity: 0.65;
        pointer-events: none;
    }
}