.task-list-item{
    &:nth-child(odd){
        background-color: #f7f7f7;
    }

    .row{
        margin: 0;
        padding: 4px;

        .no-padding{
            padding: 0;
        }
    }

    .name{
        padding-left: 0;
    }
    
    .details{
        font-size: 90%;
        padding-right: 0;

        i{
            margin-left: 16px;
            &.fa-spin{
                margin-left: 10px;
            }
            &:first-child{
                margin-left: 4px;
            }
        }
    }

    .clickable:hover{
        cursor: pointer;
    }

    .expanded-panel{
        padding-top: 4px;
        padding-bottom: 16px;
        padding-left: 16px;

        .labels{
            margin-bottom: 8px;
        }
    }
}